.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  max-width: 413px;
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 0.4;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px 0 0;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/Liked\ icon.svg);
  opacity: 1;
  background-color: transparent;
}

.card__like-button_liked:hover {
  background-image: url(../images/Liked-Hover\ icon.svg);
}

.card__delete-button {
  background-image: url(../images/Delete\ icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.card__delete-button:hover {
  background-image: url(../images/Delete-Hover\ icon.svg);
}
@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    max-width: 288px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    opacity: 1;
  }
}
