.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  max-width: 413px;
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 0.4;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px 0 0;
}

.card__like-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    width: 288px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
