.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  max-width: 413px;
}

.card__title {
  margin: 12px 0 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #212121;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 1.25%;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 0.4;
  top: 425px;
  left: 390px;
  border: none;
  background-color: transparent;
}
