.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  margin: 60px 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
}
