.header {
  background: #ffffffcc;
  max-height: 46px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}
