.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  box-sizing: border-box;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  border-radius: 8px;
  gap: 8px;
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.modal__container_preview {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  margin: 0;
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  color: white;
  padding: 4px 8px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  align-self: flex-start;
  margin-top: 8px;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close.svg);
  opacity: 0.4;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 50px;
}

.modal__close-button:hover {
  cursor: pointer;
  background-image: url(..//images/Close.selected.svg);
}

.modal__close-button_type_preview {
  background-image: url(../images/Close\ Preview\ icon.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  opacity: 1;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s ease-in;
}

.modal__close-button_type_preview:hover {
  background-image: url(../images/Close\ Preview-Hover\ icon.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121b3;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 0.4);
  margin-bottom: 0;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__save-button {
  width: 100%;
  max-width: 156px;
  border: none;
  padding: 18px 0;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__save-button_disabled {
  background-color: #212121;
  opacity: 0.5;
}

@media (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__container_preview {
    padding: 0;
  }

  .modal__caption {
    font-size: 16px;
    text-align: left;
    margin: 0;
  }

  .modal__container_preview .modal__close_preview {
    top: -40px;
    right: 0;
    position: absolute;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    margin: 24px 0;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-button {
    max-width: none;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }
}
