.page {
  min-height: 100vh;
  background: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    top: -522px;
    left: 2769px;
    background: rgba(252, 245, 229, 1);
    display: auto-fit;
  }

  .page__section {
    max-width: 320px;
  }
}
