.page {
  background: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .page__section {
    max-width: 320px;
  }
}
