.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__title {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0%;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-button {
  max-width: 107.34px;
  min-height: 16px;
  margin-top: auto;
  margin-right: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  opacity: 0.7;
  border: none;
  background: none;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 1);
}

.profile__newpost-button {
  min-width: 149px;
  max-height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: rgba(252, 245, 229, 1);
  margin-left: auto;
  margin-top: 138px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 280px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__title {
    font-size: 20px;
    margin: 0 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__newpost-button {
    margin: 0;
    width: 100%;
  }
}
